# PostgreSQL setup
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
POSTGRES_DB=analytics_db

# Database host used by the Python app inside Docker Compose
DB_HOST=db

# Database port used inside Docker Compose
DB_PORT=5432

# Host machine port used to access PostgreSQL from Windows
HOST_POSTGRES_PORT=5434

# Data paths inside app container
DATA_DIR=/app/00_raw_data
STATIONS_CSV=/app/00_raw_data/stations.csv
WEATHER_CSV=/app/00_raw_data/weather_sample.csv
